


evtx_samples/
results/*
!results/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
result_5group_addfolder/*
!result_5group_addfolder/.gitkeep

lesson/

*.pyc

3D_animation.py


*.zip

result_5group/
README_report.md



